<div id="content-terms" class="parent">
    <div class="content">
        <app-text-bubble>{{"My dream terms:"}}</app-text-bubble>
        <div class="terms">
            <div class="container">
                <div class="image image-time"></div>
                <p class="text">30 h / w</p>
            </div>

            <div class="container">
                <div class="image image-money"></div>
                <p class="text">enough to buy a house for my family</p>
            </div>

            <div class="container">
                <div class="image image-location"></div>
                <p class="text">mainly remote</p>
            </div>
        </div>
        <div></div>
    </div>
</div>
<app-scroll-indicator [scrollHandler]="scrollHandler"></app-scroll-indicator>