@import "../../../styles/dimens";
@import "../../../styles/colors";
@import "../../../styles/shadows";
@import "../../../styles/fonts";
@import "../../../../node_modules/rfs/scss";

.parent {
    height: 100%;
    overflow: scroll;
}

app-text-bubble {
    padding-top: 40px;
    margin-bottom: 40px;
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.terms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.parent::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.image-money {
    mask: url(../../../assets/symbols/money.svg);
    -webkit-mask: url(../../../assets/symbols/money.svg);
}

.image-time {
    mask: url(../../../assets/symbols/clock.svg);
    -webkit-mask: url(../../../assets/symbols/clock.svg);
}

.image-location {
    mask: url(../../../assets/symbols/location.svg);
    -webkit-mask: url(../../../assets/symbols/location.svg);
}

.image {
    align-self: center;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: $primary;
    width: 100px;
    max-width: 100%;
    height: 100px;
}

.text {
    text-align: center;
    font: $fontBig1;
    @include font-size($fontSizeBig1);
}

@media (orientation: landscape) {
    .parent {
        padding-left: $paddingBackgroundLeft;
    }
    .content {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (orientation: portrait) {
    .content {
        align-items: center;
    }
    .terms {
        flex-direction: column;
    }
}