.parent {
  height: 100%;
  overflow: scroll;
}

app-text-bubble {
  padding-top: 40px;
  margin-bottom: 40px;
}

.content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.terms {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.parent::-webkit-scrollbar {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-money {
  mask: url(../../../assets/symbols/money.svg);
  -webkit-mask: url(../../../assets/symbols/money.svg);
}

.image-time {
  mask: url(../../../assets/symbols/clock.svg);
  -webkit-mask: url(../../../assets/symbols/clock.svg);
}

.image-location {
  mask: url(../../../assets/symbols/location.svg);
  -webkit-mask: url(../../../assets/symbols/location.svg);
}

.image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  background-color: #00de7a;
  width: 100px;
  max-width: 100%;
  height: 100px;
}

.text {
  text-align: center;
  font: 1.8rem Rawline;
  font-size: calc(1.305rem + 0.66vw);
}

@media (min-width: 1200px) {
  .text {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) {
  .parent {
    padding-left: 9%;
  }
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (orientation: portrait) {
  .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .terms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=terms.component.css.map */