@import "../../../styles/colors";
@import "../../../styles/dimens";
@import "../../../styles/fonts";

.parent {
    display: flex;
    align-items: center;
    user-select: none;
}

.container {
    display: flex;
}

.container::-webkit-scrollbar {
    display: none;
}

.box {
    display: flex;
    align-items: center;
    height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font: $fontSmall1;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.1s linear;
}

@media (hover: hover) {
    .box:hover {
        color: $primary;
    }
}

.selected {
    font-size: 25px;
    color: $primary;
    font-weight: bold;
}

@media (orientation: landscape) {
    .parent {
        height: 100%;
        flex-direction: row;
        margin-right: 5px;
    }

    .container {
        flex-direction: column;
    }

    #container-item {
        padding-left: 3%;
    }
}

@media (orientation: portrait) {
    .parent {
        width: 100%;
        flex-direction: column;
    }

    .container {
        flex-direction: row;
        width: 100%;
        overflow: scroll;
        align-items: center;
        justify-content: space-between;
        max-width: 600px;
    }

    .box {
        padding-left: $paddingBackgroundRight;
        padding-right: $paddingBackgroundRight;
    }
}