<div class="parent">
    <div class="container" id="container-category">
        <div *ngFor="let category of skillCategories; let i=index" class="box" [ngClass]="{'selected': i == currentIndex[0]}" [id]="'box-category'+i" (click)="changeCurrentIndex([i,0])">
            {{category.name}}
        </div>
    </div>
    <div class="container" id="container-item">
        <div #boxItems *ngFor="let item of currentSkillItems; let i=index" class="box" [ngClass]="{'selected': i == currentIndex[1]}" [id]="'box-item'+i" (click)="changeCurrentIndex([currentIndex[0],i])">
            {{item.name}}
        </div>
    </div>
</div>