.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-tap-highlight-color: transparent;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #00de7a;
  -webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media (hover: hover) {
  .circle:hover {
    height: 80px;
    width: 80px;
    margin: -2.5px;
  }
}

.image {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}

.initial {
  mask: url(../../../assets/symbols/play.svg);
  -webkit-mask: url(../../../assets/symbols/play.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 70%;
          mask-size: 70%;
  background-color: white;
}

.non-initial {
  mask: url(../../../assets/symbols/menu.svg);
  -webkit-mask: url(../../../assets/symbols/menu.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 80%;
          mask-size: 80%;
  background-color: white;
}

.link {
  margin-right: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.link:hover {
  padding-right: 5px;
}
/*# sourceMappingURL=menu.component.css.map */