<div class="parent" (click)="toggleExpansion()" *ngIf="!introActive">
    <div class="nav" *ngIf="expanded" [@inOutAnimation]>
        <a class="link" routerLink="/story/0"><app-item iconPath="../../../assets/symbols/story.svg">Story</app-item></a>
        <a class="link" routerLink="/skills/0/0"><app-item iconPath="../../../assets/symbols/skills.svg">Skills</app-item></a>
        <a class="link" routerLink="/terms"><app-item iconPath="../../../assets/symbols/terms.svg">Terms</app-item></a>
        <a class="link" routerLink="/contact"><app-item iconPath="../../../assets/symbols/contact.svg">Contact</app-item></a>
    </div>

    <div class="circle">
        <div class="image" [ngClass]="{'initial': introActive, 'non-initial': !introActive}"></div>
    </div>
</div>