@import "../../../styles/colors";
@import "../../../styles/shadows";

.parent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    -webkit-tap-highlight-color: transparent;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: $primary;
    box-shadow: $shadowRegular;
    cursor: pointer;
    transition: all 0.1s linear;
}

@media (hover: hover) {
    .circle:hover {
        height: 75px;
        width: 75px;
        margin: -2.5px;
    }
}

.image {
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
}

.nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    overflow: hidden;
}

.initial {
    mask: url(../../../assets/symbols/play.svg);
    -webkit-mask: url(../../../assets/symbols/play.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 70%;
    background-color: $onPrimary;
}

.non-initial {
    mask: url(../../../assets/symbols/menu.svg);
    -webkit-mask: url(../../../assets/symbols/menu.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 80%;
    background-color: $onPrimary;
}

.link {
    margin-right: 12.5px;
    padding-bottom: 12px;
    text-decoration: none;
    transition: all 0.1s linear;
}

.link:hover {
    padding-right: 5px;
}