.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 4px;
  gap: 20px;
}

img {
  -webkit-filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
  max-width: 100%;
}
/*# sourceMappingURL=image-galery.component.css.map */