.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.parent::-webkit-scrollbar {
  display: none;
}

app-circle {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media (orientation: landscape) {
  .parent {
    height: 100%;
    width: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: hidden;
  }
  app-circle {
    display: block;
    margin-bottom: 20px;
  }
  app-circle:first-of-type {
    margin-top: 100px;
  }
  app-circle:last-of-type {
    margin-bottom: 95vh;
  }
}

@media (orientation: landscape) and (hover: hover) {
  app-circle:hover {
    padding-left: 10px;
  }
}

@media (orientation: portrait) {
  .parent {
    height: 110px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: scroll;
    padding-right: 500px;
  }
  app-circle:last-of-type {
    margin-right: 90%;
  }
  app-circle {
    display: block;
    margin-right: 20px;
  }
}

@media (orientation: portrait) and (hover: hover) {
  app-circle:hover {
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=nav.component.css.map */