.parent {
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    user-select: none;
}

.parent::-webkit-scrollbar {
    display: none;
}

app-circle {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.1s linear;
}

@media(orientation: landscape) {
    .parent {
        height: 100%;
        width: 120px;
        flex-direction: column;
        overflow-y: hidden;
    }

    app-circle {
        display: block;
        margin-bottom: 20px;
    }
    
    app-circle:first-of-type {
        margin-top: 100px;
    }
    
    app-circle:last-of-type {
        margin-bottom: 95vh;
    }

    @media (hover: hover) {
        app-circle:hover {
            padding-left: 10px;
        }
    }
}

@media(orientation: portrait) {
    .parent {
        height: 110px;
        width: 100%;
        flex-direction: row; 
        overflow-x: scroll;
        padding-right: 500px;
    }

    app-circle:last-of-type {
        margin-right: 90%;
    }

    app-circle {
        display: block;
        margin-right: 20px;
    }

    @media (hover: hover) {
        app-circle:hover {
            padding-bottom: 10px;
        }
    }
}