<div class="parent" id="nav-story">
    <app-circle *ngFor="let item of storyItems; let i=index" [item]="item" [selected]="currentIndex == i" (click)="changeCurrentIndex(i)" [id]="i"></app-circle>
</div>