<div id="parent" class="parent">
    <app-nav [storyItems]="storyItems" [(currentIndex)]="currentIndex"></app-nav>
    <app-content-page id="content-story" class="content" [storyItems]="storyItems" [currentIndex]="currentIndex"></app-content-page>
    <app-scroll-indicator [scrollHandler]="scrollHandler"></app-scroll-indicator>
</div>