@import "../../../styles/dimens";

.parent {
    display: flex;
    height: 100%;
    max-height: 100%;
}

.content {
    flex: 1;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: $paddingBackgroundRight;
    padding-bottom: 100px;
}

.content::-webkit-scrollbar {
    display: none;
}

@media(orientation: landscape) {
    .parent {
        flex-direction: row;
    }

    app-nav {
        padding-right: 10px;
        padding-left: $paddingBackgroundLeft;
    }

    .content {
        padding-top: 60px;
    }
}

@media(orientation: portrait) {
    .parent {
        flex-direction: column;
    }

    app-nav {
        padding-left: $paddingBackgroundRight;
        margin-bottom: 5px;
    }
}