.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 100%;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 3%;
  padding-bottom: 100px;
}

.content::-webkit-scrollbar {
  display: none;
}

@media (orientation: landscape) {
  .parent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  app-nav {
    padding-right: 10px;
    padding-left: 9%;
  }
  .content {
    padding-top: 60px;
  }
}

@media (orientation: portrait) {
  .parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  app-nav {
    padding-left: 3%;
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=story.component.css.map */