@import "../../../styles/colors";
@import '../../../styles/fonts';
@import "../../../../node_modules/rfs/scss";

.parent {
    display: flex;
    height: 100%;
}

.message {
    position: absolute;
    font: $fontBig1;
    @include font-size($fontSizeBig1);
    bottom: 10%;
    left: 50%;
    padding-bottom: calc($fontSizeBig1 / 2);
    vertical-align: baseline;
    transform: translate(-50%, 0);
    width: fit-content;
    background: $surface;
    color: $onSurface;
    border-radius: 999px;
    text-align: center;
    align-items: center;
    padding-left: calc($fontSizeBig1 * 0.7);
    padding-right: calc($fontSizeBig1 * 0.7);
}

@media (orientation: landscape) {
    .parent {
        flex-direction: row;
    }

    #text-bubble {
        align-self: flex-end;
        margin: 0px 10px 45vh 0px;
        max-width: 520px;
    }

    #margin {
        flex: 0 0 70vh; 
    }
}

@media (orientation: portrait) {
    .parent {
        flex-direction: column-reverse;
    }

    #text-bubble {
        align-self: center;
        margin: 20px 10px 0px 10px;
    }

    #margin {
      height: 100vw;
    }
}