.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.message {
  position: absolute;
  bottom: 10%;
  left: 50%;
  padding-bottom: 0.05rem;
  vertical-align: baseline;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 99px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  vertical-align: middle;
}

@media (orientation: landscape) {
  .parent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #text-bubble {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0px 10px 45vh 0px;
    max-width: 520px;
  }
  #margin {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70vh;
            flex: 0 0 70vh;
  }
}

@media (orientation: portrait) {
  .parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #text-bubble {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 20px 10px 0px 10px;
  }
  #margin {
    height: 100vw;
  }
}
/*# sourceMappingURL=welcome.component.css.map */