<div class="parent" id="content-welcome">
    <div id="margin"></div>
    <app-text-bubble id="text-bubble">Hey, Im Las.<br>I'm a mobile developer who's looking for a job.</app-text-bubble>
</div>
<div class="message">scroll or press arrow</div>
<app-scroll-indicator [scrollHandler]="scrollHandler"></app-scroll-indicator>