@import "../../../styles/shadows";

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 4px;
    gap: 20px;
}

video {
    filter: drop-shadow($shadowRegular);
    max-width: 100%;
}