$primary: rgb(0, 222, 122);
$secondary: #0069d3;

$onPrimary: white;

$surface: rgba(255, 255, 255, 0.8);
$onSurface: black;

$background: #E2E2E2;
$onBackground: white;
$onBackgroundDark: rgba(0, 0, 0, 0.7);
$onBackgroundLight: #676565;