$fontFamily: Rawline;

$fontSizeSmall1: 1.0rem;
$fontSizeRegular: 1.0rem;
$fontSizeBig1: 1.2rem;
$fontSizeBig2: 1.3rem;
$fontSizeBig3: 5rem;

$fontSmall1: $fontSizeSmall1 $fontFamily;
$fontRegular: $fontSizeRegular $fontFamily;
$fontBig1: $fontSizeBig1 $fontFamily;
$fontBig2: $fontSizeBig2 $fontFamily;
$fontBig3: $fontSizeBig3 $fontFamily;