@import "./shadows";
@import "./colors";
@import "./fonts";

@font-face {
    font-family: 'Rawline';
    src: url(../assets/fonts/rawline_extra_light.ttf) format("truetype");
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font: $fontRegular;
}

a, a:hover, a:visited, a:active {
    color: $secondary;
    text-decoration-thickness: 0.05em;
}