@font-face {
  font-family: 'Rawline';
  src: url(../assets/fonts/rawline_extra_light.ttf) format("truetype");
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font: 1.2rem Rawline;
}

a, a:hover, a:visited, a:active {
  color: #0069d3;
  text-decoration-thickness: 0.05em;
}
/*# sourceMappingURL=styles.css.map */