@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/dimens";
@import "../../styles/fonts";
@import "../../../node_modules/rfs/scss";

.parent {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background {
    background: radial-gradient(#FFFFFF, $background);
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

#nav-tag {
    font: $fontBig3;
    @include font-size($fontSizeBig3);
    color: $onBackground;
    font-weight: bold;
    writing-mode: vertical-rl;
    right: -15px;
    top: 0px;
    position: fixed;
    transform: rotate(180deg);
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
}

.profile-image {
    position: fixed;
    bottom: 0px;
    left: 0px;
    -webkit-filter: drop-shadow($shadowRegular);
    filter: drop-shadow($shadowRegular);
    transition: all 0.5s linear;
}

.profile-image.collapsed {
    transform: translateX(-51%);
    opacity: 0.8;
}

@media (orientation: landscape) {
    .profile-image {
        height: 80%
    }
}

@media (orientation: portrait) {
    .profile-image {
        width: 100%
    }
}

app-menu {
    position: fixed;
    z-index: 3;
    right: $paddingBackgroundRight;
    bottom: $paddingBackgroundBottom;
}

router-outlet {
    display: flex;
}