.parent {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

#background {
  background: radial-gradient(#FFFFFF, #E2E2E2);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

#nav-tag {
  font: 5rem Rawline;
  font-size: calc(1.625rem + 4.5vw);
  color: white;
  font-weight: bold;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  right: -15px;
  top: 0px;
  position: fixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}

@media (min-width: 1200px) {
  #nav-tag {
    font-size: 5rem;
  }
}

.profile-image {
  position: fixed;
  bottom: 0px;
  left: 0px;
  -webkit-filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.profile-image.collapsed {
  -webkit-transform: translateX(-51%);
          transform: translateX(-51%);
  opacity: 0.8;
}

@media (orientation: landscape) {
  .profile-image {
    height: 80%;
  }
}

@media (orientation: portrait) {
  .profile-image {
    width: 80%;
  }
}

app-menu {
  position: fixed;
  z-index: 3;
  right: 3%;
  bottom: 3%;
}

router-outlet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=app.component.css.map */