<div class="parent" [@routeAnimations]="prepareRoute(outlet)">
    <div id="background">
        <img class="profile-image" [ngClass]="{'collapsed': !introActive}" src="./assets/images/img_las.png">
    </div>
    <div id="nav-tag">{{url}}</div>
    <app-menu></app-menu>
    <router-outlet #outlet="outlet"></router-outlet>
</div>