@import "../../../styles/_dimens.scss";

$breakpoint-tablet: 1100px;

.parent {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}

.text-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.spacing {
    min-height: 40px;
    min-width: 40px;
}

.text.centered {
    text-align: center;
}

.spacing-top, .spacing-bottom {
    min-height: 40px;
    flex: 1;
}

.text-and-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        flex-flow: column-reverse;
    }
}

app-image-slider {
    flex: 1;
}

app-video-galery {
    flex: 1;
}

@media (orientation: portrait) {
    .spacing-top {
        flex: 1;
    }

    .text-wrapper {
        text-align: center;
    }
}