.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spacing {
  min-height: 40px;
  min-width: 40px;
}

.text.centered {
  text-align: center;
}

.spacing-top, .spacing-bottom {
  min-height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.text-and-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
}

@media (max-width: 1100px) {
  .text-and-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
}

app-image-slider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

app-video-galery {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (orientation: portrait) {
  .spacing-top {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .text-wrapper {
    text-align: center;
  }
}
/*# sourceMappingURL=content-page.component.css.map */