<div class="parent" [@valueChangeFade]="currentIndex[1]">
    <div class="spacing-top"></div>
    <div class="text-and-image">
        <app-image-slider *ngIf="currentSkillItem?.images?.length" [imageUrls]="currentSkillItem?.images" [maxHeight]="'500px'" [maxWidth]="'400px'"></app-image-slider>
        <div class="spacing" *ngIf="currentSkillItem?.images?.length"></div>
        <app-video-galery *ngIf="currentSkillItem?.videos?.length" [videoUrls]="currentSkillItem?.videos" [maxHeight]="'500px'"></app-video-galery>
        <div class="spacing" *ngIf="currentSkillItem?.videos?.length"></div>
        <div class="text-wrapper">
            <app-text-view class="text" [ngClass]="{'centered': !currentSkillItem?.images?.length && !currentSkillItem?.videos?.length}" [htmlInput]="currentSkillItem?.text"></app-text-view>
        </div>
    </div>
    <div class="spacing-bottom"></div>
</div>