.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  overflow: scroll;
}

.parent::-webkit-scrollbar {
  display: none;
}

.map {
  width: 400px;
  max-width: 90%;
  height: 400px;
  max-height: 80%;
  border: 0;
  -webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.details {
  font: 1.8rem Rawline;
  font-size: calc(1.305rem + 0.66vw);
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
          text-size-adjust: auto;
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .details {
    font-size: 1.8rem;
  }
}

.details a {
  color: #00de7a;
  text-shadow: none;
  text-decoration: none;
}

@media (orientation: landscape) {
  .parent {
    margin-left: 9%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (orientation: portrait) {
  .parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=contact.component.css.map */