<div id="content-contact" class="parent">
    <div class="details">
        <p>Interested? Let's talk!</p>
        <a href="mailto:job.las@protonmail.com">job.las@protonmail.com</a>
    </div>
    <iframe class="map container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119254.8756950016!2d9.39365037252944!3d54.746321929332616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b341e8b74defc3%3A0xaa5e0238c2b1e930!2sKrimweg%201%2C%2024975%20Maasb%C3%BCll!5e0!3m2!1sde!2sde!4v1642517811443!5m2!1sde!2sde" allowfullscreen="" loading="lazy"></iframe>
</div>
<app-scroll-indicator [scrollHandler]="scrollHandler"></app-scroll-indicator>