@import "../../../styles/dimens";
@import "../../../styles/shadows";
@import "../../../styles/fonts";
@import "../../../styles/colors";
@import "../../../../node_modules/rfs/scss";

.parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    overflow: scroll;
}

.parent::-webkit-scrollbar {
    display: none;
}

.map {
    width: 400px;
    max-width: 90%;
    height: 400px;
    max-height: 80%;
    border: 0;
    box-shadow: $shadowRegular;
    border-radius: 15px;
}

.details {
    font: $fontBig1;
    @include font-size($fontSizeBig1);
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    text-size-adjust: auto;
    margin-bottom: 40px;
}

.details a {
    color: $primary;
    text-shadow: none;
    text-decoration: none;
}

@media(orientation: landscape) {
    .parent {
        margin-left: $paddingBackgroundLeft;
        flex-direction: row;
    }
}

@media(orientation: portrait) {
    .parent {
        flex-direction: column;
    }
}