<div class="shadow">
    <div class="bubble bubble-bottom-left" [style.font-weight]="bold ? 'bold' : 'normal'">
        <ng-content class="content"></ng-content>
        <div *ngIf="subtitle" class="subtitle">{{subtitle}}</div>
    </div>
</div>