@import '../../../styles/colors';
@import '../../../styles/shadows';
@import '../../../styles/fonts';
@import "../../../../node_modules/rfs/scss";

.bubble {
  display: flex;
  position: relative;
  font: $fontBig2;
  @include font-size($fontSizeBig2);
  width: fit-content;
  padding:  5px $fontSizeRegular $fontSizeSmall1 $fontSizeRegular;
  background: $primary;
  border-radius: 15px;
  margin-bottom: 5px;
  color: $onPrimary;
}
  
.bubble-bottom-left:before {
  content: "";
  position: absolute;
  
}

.shadow {
  filter: drop-shadow($shadowRegular);
}

@media(orientation: landscape){
  .bubble {
    margin-left: 16px;
  }

  .bubble-bottom-left:before {
    border-left: 24px solid $primary;
    border-right: 12px solid transparent;
    border-top: 24px solid transparent;
    border-bottom: 12px solid transparent;
    left: -20px;
    bottom: -3px;
    transform: rotate(-100deg);
  }
}

@media(orientation: portrait){

  .bubble-bottom-left:before {
    border-left: 30px solid $primary;
    border-right: 15px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 15px solid transparent;
    left: 45%;
    bottom: -25px;
    transform: rotate(220deg);
  }
}

.subtitle {
  font: $fontSmall1;
  font-style: italic;
  align-self: flex-end; 
  font-weight: normal;
}

@media (orientation: portrait) {
  .bubble {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .bubble {
    flex-direction: row;
  }

  .subtitle {
    margin-left: 20px;
    margin-bottom: -4px;
    align-self: flex-end;
  }
}