.bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font: 1.8rem Rawline;
  font-size: calc(1.305rem + 0.66vw);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 1.2rem 0.9rem 1.2rem;
  background: #00de7a;
  border-radius: 15px;
  margin-bottom: 5px;
  color: white;
}

@media (min-width: 1200px) {
  .bubble {
    font-size: 1.8rem;
  }
}

.bubble-bottom-left:before {
  content: "";
  position: absolute;
}

.shadow {
  -webkit-filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
}

@media (orientation: landscape) {
  .bubble {
    margin-left: 16px;
  }
  .bubble-bottom-left:before {
    border-left: 24px solid #00de7a;
    border-right: 12px solid transparent;
    border-top: 24px solid transparent;
    border-bottom: 12px solid transparent;
    left: -20px;
    bottom: -3px;
    -webkit-transform: rotate(-100deg);
            transform: rotate(-100deg);
  }
}

@media (orientation: portrait) {
  .bubble-bottom-left:before {
    border-left: 30px solid #00de7a;
    border-right: 15px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 15px solid transparent;
    left: 45%;
    bottom: -25px;
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

.subtitle {
  font: 0.9rem Rawline;
  font-style: italic;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: normal;
}

@media (orientation: portrait) {
  .bubble {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (orientation: landscape) {
  .bubble {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .subtitle {
    margin-left: 20px;
    margin-bottom: -4px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=text-bubble.component.css.map */