@import "../../../styles/colors";
@import "../../../styles/shadows";
@import "../../../styles/fonts";
@import "~rfs/scss";


.container {
    font: $fontBig2;
    @include font-size($fontSizeBig1);
}

::ng-deep .highlight {
    color: $primary;
}