@import "../../../styles/colors";
@import "../../../styles/shadows";

.container {
    position: fixed;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    pointer-events:none;
    -webkit-filter: drop-shadow($shadowRegular);
    filter: drop-shadow($shadowRegular);
}

.container.top {
    top: 0px;
}

.container.bottom {
    bottom: 0px;
}

.spacing {
    transition: all linear 0.05s;
}

.image {
    width: 150px;
    height: 150px;
    background-color: $onBackgroundDark;
}

.image.top {
    mask: url(../../../assets/symbols/arrow_up.svg);
    -webkit-mask: url(../../../assets/symbols/arrow_up.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.image.bottom {
    mask: url(../../../assets/symbols/arrow_down.svg);
    -webkit-mask: url(../../../assets/symbols/arrow_down.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
}