.container {
  position: fixed;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  pointer-events: none;
  -webkit-filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
}

.container.top {
  top: 0px;
}

.container.bottom {
  bottom: 0px;
}

.spacing {
  -webkit-transition: all linear 0.05s;
  transition: all linear 0.05s;
}

.image {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
}

.image.top {
  mask: url(../../../assets/symbols/arrow_up.svg);
  -webkit-mask: url(../../../assets/symbols/arrow_up.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
}

.image.bottom {
  mask: url(../../../assets/symbols/arrow_down.svg);
  -webkit-mask: url(../../../assets/symbols/arrow_down.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
}
/*# sourceMappingURL=scroll-indicator.component.css.map */