<div *ngIf="scrollHandler?.overscrollTop! > 0" [style.opacity]="scrollHandler?.overscrollTop" class="container top">
    <div class="spacing" [style.height.px]="50 * scrollHandler?.overscrollTop!"></div>
    <img class="image top">
</div>

<div *ngIf="scrollHandler?.overscrollBottom! > 0" [style.opacity]="scrollHandler?.overscrollBottom" class="container bottom">
    <img class="image bottom">
    <div class="spacing" [style.height.px]="50 * scrollHandler?.overscrollBottom!"></div>
</div>