<div id="parent" class="parent">
    <app-nav id="nav-skills" [skillCategories]="skillCategories" [currentSkillItems]="currentSkillItems" [(currentIndex)]="currentIndex"></app-nav>
    <app-content-page id="content-skills" class="content" [skillCategories]="skillCategories" [currentIndex]="currentIndex"></app-content-page>
    <app-scroll-indicator [scrollHandler]="scrollHandler"></app-scroll-indicator>
</div>