.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 100%;
  overflow-y: scroll;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 100px;
}

app-content-page::-webkit-scrollbar {
  display: none;
}

@media (orientation: landscape) {
  .parent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  app-nav {
    height: 100%;
    padding-left: 9%;
  }
}

@media (orientation: portrait) {
  .parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  app-nav {
    width: 100%;
  }
}
/*# sourceMappingURL=skills.component.css.map */