@import "../../../styles/_dimens.scss";

.parent {
    display: flex;
    height: 100%;
    width: 100%;
}

.content {
    flex: 1;
    max-height: 100%;
    overflow-y: scroll;
    padding-left: $paddingBackgroundRight;
    padding-right: $paddingBackgroundRight;
    padding-bottom: 100px;
}

app-content-page::-webkit-scrollbar {
    display: none;
}

@media (orientation: landscape) {
    .parent {
        flex-direction: row;
    }

    app-nav {
        height: 100%;
        padding-left: $paddingBackgroundLeft;
    }
}

@media (orientation: portrait) {
    .parent {
        flex-direction: column;
    }

    app-nav {
        width: 100%;
    }
}