.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

@media (orientation: portrait) {
  .parent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.space-middle {
  min-height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.space-bottom {
  min-height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.space-content {
  height: 40px;
  width: 40px;
}

.content {
  max-width: 1000px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.text-and-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .text-and-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
}

app-image-slider {
  width: 150px;
  text-align: center;
}

app-text-view {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.subtext {
  text-align: end;
  font: 1.2rem Rawline;
  margin-top: 30px;
  color: #676565;
}

.hashtag {
  text-align: center;
}
/*# sourceMappingURL=content-page.component.css.map */