<div class = "parent">
    <app-text-bubble [subtitle]="currentStoryItem?.time" [bold]="false">{{currentStoryItem?.name}}</app-text-bubble>
    <div class="space-middle"></div>
    <div class="content" [@valueChangeFade]="currentIndex">
        <div class="text-and-image">
            <app-image-slider *ngIf="currentStoryItem?.images?.length" [imageUrls]="currentStoryItem?.images" [maxHeight]="'250px'" [maxWidth]="'150px'"></app-image-slider>
            <div class="space-content" *ngIf="currentStoryItem?.images?.length"></div>
            <app-text-view [htmlInput]="currentStoryItem?.text"></app-text-view>
        </div>
        <div class="subtext" *ngIf="currentStoryItem?.subText" [ngClass]="{'hashtag': currentStoryItem?.subText?.charAt(0) == '#'}">{{currentStoryItem?.subText}}</div>
    </div>
    <div class="space-bottom"></div>
</div>