@import "../../../styles/colors";
@import "../../../styles/fonts";
@import "../../../styles/shadows";

$breakpoint-tablet: 768px;

.parent {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    @media(orientation: portrait) {
        align-items: center;
    }
}

.space-middle {
    min-height: 40px;
    flex: 1;
}

.space-bottom {
    min-height: 40px;
    flex: 1;
}

.space-content {
    height: 40px;
    width: 40px;
}

.content {
    max-width: 1000px;
    align-self: center;
}

.text-and-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        flex-flow: column-reverse;
    }
}

app-image-slider {
    width: 150px;
    text-align: center;
}

app-text-view {
    text-align: center;
    flex: 1;
}

.subtext {
    text-align: end;
    font: $fontRegular;
    margin-top: 30px;
    color: $onBackgroundLight;
}

.hashtag {
    text-align: center;
}