.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0px 10px 7px 10px;
  font: 1.2rem Rawline;
  -webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 15px;
  background: #00de7a;
  -webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.image {
  background-color: white;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=item.component.css.map */