@import "../../../styles/colors";
@import "../../../styles/shadows";
@import "../../../styles/fonts";

.parent {
    display: flex;
    align-items: center;
    
}

.text {
    background: $onBackgroundDark;
    color: $onBackground;
    padding: 0px 10px 7px 10px;
    font: $fontRegular;
    box-shadow: $shadowRegular;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 15px;
    background: $primary;
    box-shadow: $shadowRegular;
}

.image {
    background-color: $onPrimary;
    width: 100%;
    height: 100%;
}