@import "../../../../styles/colors";
@import '../../../../styles/shadows';

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $onBackground;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.1s linear;
    filter: drop-shadow($shadowRegular);
}

.circle-active {
    @extend .circle;
    width: 75px;
    height: 75px;
}

.image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}