.circle, .circle-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.3));
}

.circle-active {
  width: 100px;
  height: 100px;
}

.image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
/*# sourceMappingURL=circle.component.css.map */